<div class="text-center">
  <div class="container mt-3">
    <div  style="text-align: center">
      <h1>Manager-Mode</h1>
      <div class="text-center">
        <p class="lead">Please choose what you want to do</p>
      </div>

      <div >
        <button class="btn btn-primary" type="button" (click)="goToTableEmployee()" >Displays employee hours</button>
      </div>
      <h1></h1>
      <div >
        <button class="btn btn-primary" type="button" (click)="addNewUser()" >Add new user</button>
      </div>
    </div>

    <div  class="container">
      <div class="row justify-content-center">
        <div class="col-4">
        </div>
      </div>
    </div>
  </div>
</div>
